@charset "utf-8";

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
    display: none;
}
.view{
    width: 300px;
    height: 300px;
    position: relative;
    overflow: hidden;
}
.slide{
    width: 900px;
    font-size: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.slide > img{
    width: 300px;
}
.btn > label{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ccc;
}
input[id=tab1]:checked ~ .view > .slide{
    left: 0;
}
input[id=tab2]:checked ~ .view > .slide{
    left: -300px;
}
input[id=tab3]:checked ~ .view > .slide{
    left: -600px;
}

.btn{
    text-align: center;
    margin: 10px;
}
input[id=tab1]:checked ~ .btn > label[for=tab1],
input[id=tab2]:checked ~ .btn > label[for=tab2],
input[id=tab3]:checked ~ .btn > label[for=tab3]{
    background-color: tomato;
}