@charset "utf-8";

/*** reset.css ***/
*{ margin: 0; padding: 0; color: #333;}
a{ text-decoration: none; color: inherit; display: block;}
li{ list-style: none;}

/*** 전체 레이아웃 ***/
.wrapper{
    width: 1200px;
    margin: 0 auto;
}
.popupBox{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 11;
    background-color: rgba(0,0,0,0.6);
}
.popup{
    background-color: pink;
    width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    padding: 10px;
}
.popup > h2{
    margin: 5px auto;
}
.popup > p{
    margin: 10px auto;
}
.popup > button{
    padding: 5px 10px;
    float: right;
}

/*** header ***/
header{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 200px;
}
.gnb{
    /* width: 1000px; */
    /* height: 100%; */
    margin-right: 50px;
    background-color: violet;
}
.gnb > ul{
    display: flex;
}
.main-menu{
    position: relative;
}
.main-menu > a{
    padding: 5px 30px;
}
.main-menu > a:hover{
    background-color: yellowgreen;
}
.sub-menu{
    z-index: 10;
    background-color: turquoise;
    position: absolute;
    width: 100%;
    text-align: center;
    display: none;
    /* visibility: hidden;*/
    /* opacity: 0; */
} 
.sub-menu a{
    padding: 5px;
}
.sub-menu a:hover{
    background-color: brown;
}

/*** slide ***/
.slide{
    height: 300px;
    overflow: hidden;
}
.slide .item{
    position: relative;
}
.slide .item > p{
    background-color: #eee;
    padding: 5px 10px;
    position: absolute;
    top: 0;
    left: 0;
}
/*** contents ***/
.contents{
    height: 200px;
    display: flex;
}
.contents > div{
    width: 33.333333%;
}
.notice{
    background-color: #eee;
}
.notice > h3{
    padding: 10px;
}
.notice > ul > li{
    padding: 5px;
    display: flex;
    justify-content: space-around;
}
.notice > ul > li:hover{
    background-color: yellowgreen;
}
.notice > ul > li > a{
    width: 70%; 
    white-space: nowrap; /* 한줄로 표시 */
    overflow: hidden;
    text-overflow: ellipsis;
}
.gallery > h3{
    padding: 10px;
}
.gallery > ul{
    padding: 10px;
    display: flex;
    justify-content: space-around;
}
.banner{
    background-color: tomato;
    position: relative;
}
.banner > a > p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    padding: 20px;
    font-size: 20px;
    font-weight: bolder;
}

/*** footer ***/
footer{
    height: 100px;
    display: flex;
    align-items: center;
}
.f-logo{
    width: 25%;
}
.copyright{
    width: 50%;
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
}
.site{
    width: 25%;
    text-align: center;
}