@charset "utf-8";

/*** reset.css ***/
*{ margin: 0; padding: 0;}
a{ text-decoration: none; color: inherit;}
li{ list-style: none;}

.wrapper{
    margin: 0 auto;
    width: 1200px;
    height: 700px;
}
header{
    height: 100px;
    display: flex;    
}
header > .logo{
    width: 20%;
    height: 100%;
    font-size: 30px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    color: sienna;
}
header > nav{
    width: 80%;
    height: 100%;
}
nav > ul{
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 80px;
    margin-right: 50px;
}
.slide{
    height: 300px;
    background-image: url(./images/slide01.png);
}
.slide > p{
    background-color: pink;
    display: inline-block;
    padding: 5px 10px;
}
.info{
    height: 200px;
    display: flex;
}
.info > div{
    width: 33.333333%;
    height: 100%;
}

.info > .tabs > ul > li{
    display: inline-block;
    padding: 10px;
}
.info > .tabs > ul > li.on{
    background-color: violet;
}
.info > .tabs > .tab-item{
    background-color: violet;
    padding: 29px 10px;
}
.info > .tabs > .tab-item span{
    display: inline-block;
}
.info > .tabs > .tab-item span:nth-of-type(1){
    width: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.info > .banner{
    background-image: url(./images/banner.png);
    display: flex;
    justify-content: center;
    align-items: center;
}
.info > .banner > p,
.info > .link > p{
    background-color: #fff;
    padding: 10px;
}
.info > .link{
    background-image: url(./images/link.png);
    display: flex;
    justify-content: center;
    align-items: center;
}
footer{
    height: 100px;
    background-color: #ccc;
    display: flex;
}
footer > div{
    display: flex;
    justify-content: center;
    align-items: center;
}
footer > .f-logo{
    width: 20%;
    font-size: 30px;
    font-weight: bolder;    
    color: #555;
}
footer > .f-text{
    width: 60%;
}
footer > .sns{
    width: 20%;
}
footer > .sns > i{
    margin: 0 10px;
    font-size: 1.5rem;
}
